*{
    margin: 0;
    padding: 0;
}


a:link{
    color: inherit;
    
}

.index{
    
  background-color: black; 
}
.fotos{
background-image: url(../images/Fondo--Fotos.png);
}
.contacto{
    background-color: black;
}
.nosotros{
    background-image: url(../images/Fondo-Nosotros.png);
}
.agenda{
    background-image: url(../images/Fondo-Agenda.png);
}

img{
    background-color: black;
    border-radius: 0.5cm;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: black;
    font-size: 25px;
    border: 1px white ;
    align-items: center;
    
}
/* #list:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 5px;
}*/


a,
h3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace; 
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px; 
    color: white;
}

.h2Index{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px; 
    position: absolute;
    top: 400px;
    color: white;

}
.fotos__bordes{
    border:dashed 1px white ;

    
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#list{
    padding: 0 20px;
    color: #f8f8f8;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0, 100);

}
.formulario{
    color: #f8f8f8;
    margin-top: 15%;
    font-size: x-large;
    position: relative;
 
    margin-right: 50%;
}
.parrafo{
    font-size: 50px;
    margin-top: 5%;
    opacity: 0.6;
    background-color: black;
    color: #f8f8f8;
    
}


/* Header nuevo */

.containerSuperior{
    width: 100%;
    border-bottom: 2px solid #f8f8f8;
    display: inline-flex;
    padding: 10px;
}
.containerInferior{
    width: 100%;
    display: inline-flex;
    padding: 10px;
    
}
.containerEmail,
.containerLogo{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: start;
    width: 50%;
    
}
.containerRedes,
.containerMenu{
    display: flex;
    align-items:center;
    justify-content: end;
    width: 50%;
    padding: 0 30px;
    
    
    
}
.ulRedes{
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none; 
}
.w4{
    padding: 0 20px;
    display: flex;
    justify-content: start;
    color: white;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.icons{
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
    color: white;   
}
/* Grids*/
header{
    
}

